{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% for card in value %}

<div class="card{% if card.value.card_class %} {{ card.value.card_class}}{% endif %}"
{% if card.value.background_style.image %}
    {% image card.value.background_style.image width-700 format-png as image_png %}
     style="background-image: url('{{ image_png.url }}'); height: {{card.value.background_style.height}}vh;"
{% endif %}
>
    {% if card.value.header %}<div class="card-header">{{card.value.header}}</div>{% endif %}
    {% include_block card %}
    <div class="card-body">
        {% if card.value.title %}<div class="card-title">{{card.value.title}}</div>{% endif %}
        {% if card.value.subtitle %}<div class="card-subtitle">{{card.value.subtitle}}</div>{% endif %}
        {% if card.value.description %}<div class="card-text">{{card.value.description}}</div>{% endif %}
    </div>
</div>
{% endfor %}
