.bg-image {
    position:relative;
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50%
}
.mask {
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 width:100%;
 height:100%;
 overflow:hidden;
 background-attachment:fixed
}
