{% load wagtailcore_tags %}

<figure {% if value.figure_class %} class="{{ value.figure_class}}"{% endif %}>
    {% for block in self.content %}
    {% include_block block with block_id=block.id|stringformat:"s" %}
    {% endfor %}
    <figcaption {% if value.figcaption_class %} class="{{ value.figcaption_class}}"{% endif %}>
        {{ value.figure_caption }}
    </figcaption>
</figure>
