{% load wagtailcore_tags %}

<span style="{% if value.font_size %}font-size:{{ value.font_size }};{% endif %}{% if value.color %}color:{{ value.color }};{% endif %}">
    <i class="{{ value.icon }} {{ value.size }} {% if value.border %}fa-border {% endif %}{% if value.spin %}fa-spin {% endif %}"></i>
</span>
