{% comment %}{% if embed.ratio %}{% endcomment %}
    {% comment %}[> If an aspect ratio is included, use the appropriate Bootstrap 4 class <]{% endcomment %}
    {% comment %}{% if embed.ratio > 0.9 %}{% endcomment %}
        {% comment %}<div class="embed-responsive embed-responsive-1by1">{% endcomment %}
    {% comment %}{% elif embed.ratio > 0.7 %}{% endcomment %}
        {% comment %}<div class="embed-responsive embed-responsive-4by3">{% endcomment %}
    {% comment %}{% elif embed.ratio > 0.5 %}{% endcomment %}
        {% comment %}<div class="embed-responsive embed-responsive-16by9">{% endcomment %}
    {% comment %}{% else %}{% endcomment %}
        {% comment %}<div class="embed-responsive embed-responsive-21by9">{% endcomment %}
    {% comment %}{% endif %}{% endcomment %}
{% comment %}{% else %}{% endcomment %}
    {% comment %}[> Otherwise, center it in a row, for things like Tweets. <]{% endcomment %}
    {% comment %}<div class="row justify-content-center">{% endcomment %}
{% comment %}{% endif %}{% endcomment %}
{% comment %}{{ embed.html|safe }}{% endcomment %}
{% comment %}</div>{% endcomment %}

{% if embed.ratio %}
{# If an aspect ratio is included, use the appropriate Bootstrap 5 class #}
    {% if embed.ratio > 0.9 %}
<div class="ratio ratio-1x1">
    {% elif embed.ratio > 0.7 %}
<div class="ratio ratio-4x3">
    {% elif embed.ratio > 0.5 %}
<div class="ratio ratio-16x9">
    {% else %}
<div class="ratio ratio-21x9">
    {% endif %}
{% else %}
    {# Otherwise, center it in a row, for things like Tweets. #}
<div class="row justify-content-center">
{% endif %}
{{ embed.html|safe }}
</div>
